{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{{item.logo}}" height="100" alt="">&nbsp &nbsp{{item.name}}
  </a>
</nav>
<div class="card-columns" >
{% for product in prod %}
<div class="card" style="width: 18rem;">
  <img src="{{product.img1_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.brand}}</h5>
    <p class="card-text">{{product.name}}</p>
    </div>
</div>
{% endfor %}
</div>

{% endblock  %}
