{% extends 'base.html' %}

{% block nav %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Brand
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for b in brand %}
        <a class="dropdown-item" href="{% url 'shoes:brand_details' b.id %}"><img src="{{b.logo}}" height="70"></img>
            &nbsp
            &nbsp &nbsp {{b.name}} </a>
        {% endfor %}
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        For
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for user in for_user %}
        <a class="dropdown-item" href="{% url 'shoes:group_details' user.id %}"><img src="{{user.logo}}"
                height="100"></img>
            &nbsp
            &nbsp &nbsp {{user.name}} </a>
        {% endfor %}
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Shoe Type
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for st in shoe_type %}
        <a class="dropdown-item" href="{% url 'shoes:type_details' st.id %}">{{st.name}}</a>
        {% endfor %}
    </div>
</li>

{% endblock  %}


{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Shoes for everyone</span>
</nav>
<div class="bg-image img1">
    <a href="{% url 'shoes:group_details' 1 %}">
        <div class="bg-text">Mens</div>
    </a>
</div>
<div class="bg-image img2">
    <a href="{% url 'shoes:group_details' 2 %}">
        <div class="bg-text">Womens</div>
    </a>
</div>
<div class="bg-image img3">
    <a href="{% url 'shoes:group_details' 5 %}">
        <div class="bg-text">kids</div>
    </a>
</div>

{% endblock %}